.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  background-color: #f2f2f2;
  margin: 5%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.study-browser-banner {
  background: rgb(2,21,70);
  color: white;
  padding: 12px;
  padding-left: 48px;
}

.datecontainer {
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.pretty_container {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 5px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #ececec;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.rc-slider {
  margin-left: 0px;
  padding-left: 0px;
}
.rc-slider-mark-text {
    color:#9999;
}

.rc-slider-mark-text-active{
    color:#313131;
}
.rc-slider-dot-active{
    border-color:#b1b1b1;
}
.rc-slider-track{
    background-color:#01b8aa;
}
.rc-slider-handle{
    border: solid 2px #fd625e;
}
.rc-slider-handle:active{
    border: solid 2px #207FB3;
}
.rc-slider-handle:hover {
        border: solid 2px #01b8aa;
    }
.rc-slider-handle:active {
        border-color:#207FB3;
    }
.flex-display {
    display: flex;
}

.container-display {
  display: flex;
}

#individual_graph,
#aggregate_graph {
  width: calc(100% - 30px);
  position: absolute;
}

#count_graph {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

#countGraphContainer {
  flex: 5;
  position: relative;
}

#header {
  border-radius: 5px;
  align-items: center;
  background-color:#ffffff;
  box-shadow: 2px 2px 2px #ececec;
}

#learn-more-button {
  text-align: center;
  height: 100%;
  padding: 0 20px;
  text-transform: none;
  font-size: 15px;
  float: right;
  margin-right: 10px;
  margin-top: 30px;
}
#title {
  text-align: center;
}

.mini_container {
  border-radius: 5px;
  background-color: #30333D;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #21252C;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#waiting {
  flex: 1;
}

#emissionsMapContainer {
    flex:2;
}

#emissionsGraphContainer {
    flex: 1;
}

#ops {
    flex: 1;
}

#aggregate_data {
  align-items: center;
}

#port {
  flex: 1;
}

#draught {
  flex: 1;
}

#tripleContainer {
  display: flex;
  flex: 3;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

#pie_graph > div > div > svg:nth-child(3) > g.infolayer > g.legend {
  pointer-events: all;
  transform: translate(30px, 349px);
}
@keyframes fadein {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 0.5;
  }
}
